*.pyc
__pycache__/

# Databases
db.sqlite3

# Virtual environment
venv/
.venv/
env/
.env/
myenv/

# Collected static files
staticfiles/

# Uploaded media files
media/

# Logs
*.log

# IDE specific files
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Environment variables file (crucial!)
.env